<h1>affichage d'un véhicule</h1>
<br>
<div class="border">
  <h2>affiche card du véhicule</h2>
</div>
<br>
<div class="border">
  <h2>affichage du booking du véhicule</h2>
</div>


<br>
<%= link_to "Home page", root_path %>

