// Specific CSS for your home-page

.container {
  background-color: rgba(199, 215, 183, 0.452);
  border-radius: 20px;
}

#description-home {
  background-color: rgb(186, 203, 206);
  border-radius: 20px;

}

.images-home {
  border-radius: 20px;
}
