


  <div class = "mt-2 fw-bold text-center mb-3">
    <h1> CarConnect </h1>
  </div>
<div class="container-home">

    <div class="d-flex justify-content-between" id="main">

    <div class= "ms-3 align-self-center text-center" id="description-home" style="width: 70%;">
      <h3> Faites vous plaisir </h3>
      <h3 class="mb-3"> Louez un véhicule pas comme les autres </h3>
      <ul>
        <p>Mettre en location son vehicule</p>
        <p>Louer un vehicule</p>
        <p>Choisissez votre lieu de location</p>
        <p>1 jour, une semaine, un mois ?</>
        <p>Adapté à tous les budgets ! </p>
      </ul>
    <a class="mb-3 btn btn-success" type="buton" mt-4 mx-2" href="./vehicules"> Découvrir nos véhicules </a>
    </div>

    <div class="d-inline-grid justify-content-center" >
        <div class="images-home">
        <div class="mb-3 mt-3">
          <%= image_tag "bof_two.jpeg", width: 350 %>
        </div>

        <div class="mb-3">
          <%= image_tag "bof_one.jpg", width: 350 %>
        </div>

        </div>

        </div>
      </div>

    </div>
