


  <div class = "mt-2 fw-bold text-center mb-3">
  </div>
<div class="container-home">
    <div class= "ms-3 align-self-center text-center" id="description-home" style="width: 100%;">
      <h1> Soyez Funky ! </h1>
      <h3 class="mb-3"> Louez un véhicule pas comme les autres </h3>
      <ul>
      <iframe width="700" height="450" src="https://www.youtube.com/embed/OPf0YbXqDm0?autoplay=1&si=ooRsegGRIUAPaSH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    <div class="d-flex justify-content-between" id="main">
      </ul>

    <a class="learn-more"  href="./vehicules"> Nos Vehicules les plus Hot ! </a>
    </div>

    <div class="d-inline-grid justify-content-center" >
        <div class="images-home">




        </div>

        </div>
      </div>


    </div>
