.navbar-lewagon {
  justify-content: space-between;
  height: 60px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  height: 90px;
  max-height: 100%;
  object-fit: contain;
  margin-top: 15px;
}

.navbar-lewagon {
  position: sticky;
  top: 0;
  width: 100%;
}

.dropdown-menu {
  z-index: 1000;
}

.navbar-collapse > ul > li > a{

  color: #0a4c67;
}
